.cn .nav li a{
font-size:24px
}
.cn .service li h4{
font-size:24px}
.cn .mail label{
	font-size:22px;}
.cn .button{
	font-size:22px;}
.cn .contactinfo address{
	font-style:normal}
.cn .service li p {
	line-height:1.8
}